.virtualScrollContainer {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.content {
  min-height: 100%;
  will-change: transform;
}

.loadingMore,
.noMore {
  padding: 16px;
  font-size: 14px;
  text-align: center;
  color: #999;
}
