/* stylelint-disable-next-line scss/load-partial-extension */
@import '../../../styles/variables.scss';

.socialActions {
  @include common-information;
  @include base-container;
  padding: $gap-sm 0 0;
  margin-top: auto;

  .actionGroup {
    @include flex-center;
    gap: $spacing-lg;

    .actionItem {
      @include flex-center;
      gap: $gap-xs;
      color: $color-secondary;
      font-size: $font-size-sm;
      cursor: pointer;
      flex-direction: row;

      .actionIcon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }

  .iconContainer {
    @include flex-center;
    overflow: hidden;
    border-radius: 50%;
    width: $icon-size-md;
    height: $icon-size-md;
    background-color: $color-icon-bg;
    cursor: pointer;

    .icon {
      width: $icon-size-sm;
      height: $icon-size-sm;
      color: $color-icon;
      flex-shrink: 0;
    }
  }
}
